<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-1">
    <div class="card" data-professional="<%=professional.id%>">
        <div class="card-body">
            <div class="mx-auto d-block">
                <img class="rounded-circle mx-auto d-block" src="images/icon/avatar-01.jpg" alt="Card image cap">
                <h5 class="text-sm-center mt-2 mb-1"><%=professional.user.name%></h5>
                <div class="location text-sm-center">
                    <i class="fa fa-map-marker"></i><%=__(professional.user.country.name)%></div>
            </div>
            <hr>
            <div class="card-text text-sm-center">
                <%=__(professional.profession.name)%><br>
                <%=professional.rate.currency.symbol%> <%=professional.rate.call%> -
                <%=professional.rate.currency.symbol%> <%=professional.rate.chat%>
            </div>

        </div>
        <div class="card-footer text-center">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">

                </div>
            </div>
            <div class="row">
                <%
                    var callCssClass, chatCssClass, disableCall = false, disableChat = false;
                    switch (professional.state.id) {
                        case PROFESSIONAL_STATES.ONLINE:
                            callCssClass = 'btn-success';
                            chatCssClass = 'btn-success';
                            break;
                        case PROFESSIONAL_STATES.BUSY:
                            callCssClass = 'btn-warning';
                            chatCssClass = 'btn-warning';
                            disableCall = true;
                            disableChat = true;
                            break;
                        case PROFESSIONAL_STATES.JUST_CALLS:
                            callCssClass = 'btn-success';
                            chatCssClass = 'btn-danger';
                            disableChat = true;
                            break;
                        case PROFESSIONAL_STATES.JUST_CHAT:
                            callCssClass = 'btn-danger';
                            chatCssClass = 'btn-success';
                            disableCall = true;
                            break;
                        case PROFESSIONAL_STATES.OFFLINE:
                            callCssClass = 'btn-secondary';
                            chatCssClass = 'btn-secondary';
                            disableCall = true;
                            disableChat = true;
                            break;
                    }
 %>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!--                    Button visible from medium devices-->
                    <button onclick="callProfessional(<%=professional.id%>)"
                            data-type-button="call-1-<%=professional.id%>"
                            data-professional="<%=professional.id%>"
                            type="button"
                            class="btn <%=callCssClass%> btn-lg d-none d-md-inline text"
                            <%=disableCall ? 'disabled': ''%>>
                        <i class="fa fa-phone"></i>
                        <%=__('Call')%>
                    </button>
                    <!--                    Button visible in super small and small devices-->
                    <button
                            onclick="callProfessional(<%=professional.id%>)"
                            data-type-button="call-2-<%=professional.id%>"
                            data-professional="<%=professional.id%>"
                            type="button"
                            class="btn <%=callCssClass%> btn-block d-block d-sm-block d-md-none"
                            <%=disableCall ? 'disabled': ''%>>
                        <i class="fa fa-phone"></i>
                        <%=__('Call')%>
                    </button><br>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
<!--                    Button visible from medium devices-->
                    <button
                            onclick="chatProfessional(<%=professional.id%>)"
                            data-type-button="chat-1-<%=professional.id%>"
                            data-professional="<%=professional.id%>"
                            type="button"
                            class="btn <%=chatCssClass%> btn-lg d-none d-md-inline"
                            <%=disableChat ? 'disabled': ''%>>
                        <i class="fa fa-comments"></i>
                        <%=__('Chat')%>
                    </button>
<!--                    Button visible in super small and small devices-->
                    <button
                            onclick="chatProfessional(<%=professional.id%>)"
                            data-type-button="chat-1-<%=professional.id%>"
                            data-professional="<%=professional.id%>"
                            type="button"
                            class="btn <%=chatCssClass%> btn-block d-block d-sm-block d-md-none"
                            <%=disableChat ? 'disabled': ''%>>
                        <i class="fa fa-comments"></i>
                        <%=__('Chat')%>
                    </button><br>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- modal confirm chat -->
<div class="modal fade" id="confirmChat" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smallmodalLabel"><%=__('Confirm Chat')%></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <%=__('Are you sure you want to start the chat?')%>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=__('Cancel')%></button>
                <button onclick="openChatWindow()" type="button" class="btn btn-primary"><%=__('Confirm')%></button>
            </div>
        </div>
    </div>
</div>
<!-- end modal Ban -->
