<!-- BREADCRUMB-->
<!--<section class="au-breadcrumb2">-->
<!--  <div class="container">-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<div class="container-fluid">
  <br>
  <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="rs-select2--light rs-select2--md">
          <select class="js-select2" id="country">
            <option selected="selected"><%=__('Country')%></option>
            <option value="">Option 1</option>
            <option value="">Option 2</option>
          </select>
          <div class="dropDownSelect2"></div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="rs-select2--light rs-select2--md">
          <select class="js-select2" name="profession">
            <option selected="selected"><%=__('Profession')%></option>
            <option value="">3 Days</option>
            <option value="">1 Week</option>
          </select>
          <div class="dropDownSelect2"></div>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
    <% professionals.forEach(function(professional) { %>
      <%- partial('../partials/professional-mini.ejs', {professional}) %>
    <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
  </div>
</div>

<!-- COPYRIGHT-->
<section class="p-t-60 p-b-20">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END COPYRIGHT-->
