<!-- BREADCRUMB-->
<!--<section class="au-breadcrumb2">-->
<!--  <div class="container">-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<div class="container-fluid">
  <br>
  <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="rs-select2--light rs-select2--md">
          <select class="js-select2" id="country">
            <option selected="selected" value="0"><%=__('All Countries')%></option>
            <% countries.forEach(function(country) { %>
              <option value="<%=country.id%>"><%=__(country.name)%></option>
            <% }); %>
          </select>
          <div class="dropDownSelect2"></div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="rs-select2--light rs-select2--md">
          <select class="js-select2" id="profession">
            <option selected="selected" value="0"><%=__('All Professions')%></option>
            <% professions.forEach(function(profession) { %>
            <option value="<%=profession.id%>"><%=__(profession.name)%></option>
            <% }); %>
          </select>
          <div class="dropDownSelect2"></div>
        </div>
      </div>
  </div>
  <br>
  <div class="row" id="professionals">
    <% professionals.forEach(function(professional) { %>
      <%- partial('../partials/professional-mini.ejs', {professional}) %>
    <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
      <% professionals.forEach(function(professional) { %>
        <%- partial('../partials/professional-mini.ejs', {professional}) %>
      <% }); %>
  </div>
</div>

<!-- COPYRIGHT-->
<section class="p-t-60 p-b-20">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END COPYRIGHT-->
